@{
    ViewData["Title"] = "首頁";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron bg-primary text-white rounded p-5 mb-5">
                <h1 class="display-4">歡迎來到 GameSpace</h1>
                <p class="lead">一個整合遊戲討論、寵物養成、簽到獎勵、商城交易的綜合性遊戲社群平台</p>
                <hr class="my-4">
                <p>立即加入我們，開始你的遊戲之旅！</p>
                <a class="btn btn-light btn-lg" href="@Url.Action("Register", "Auth", new { area = "Public" })" role="button">立即註冊</a>
                <a class="btn btn-outline-light btn-lg ms-2" href="@Url.Action("Login", "Auth", new { area = "Public" })" role="button">登入</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-paw fa-3x text-primary mb-3"></i>
                    <h5 class="card-title">寵物養成</h5>
                    <p class="card-text">飼養可愛的史萊姆寵物，透過互動提升寵物等級和屬性。</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-gamepad fa-3x text-success mb-3"></i>
                    <h5 class="card-title">小遊戲冒險</h5>
                    <p class="card-text">每日最多3次冒險挑戰，獲得點數和經驗值獎勵。</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-calendar-check fa-3x text-warning mb-3"></i>
                    <h5 class="card-title">每日簽到</h5>
                    <p class="card-text">每日簽到獲得點數、經驗值和優惠券獎勵。</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-comments fa-3x text-info mb-3"></i>
                    <h5 class="card-title">遊戲論壇</h5>
                    <p class="card-text">與其他玩家討論遊戲心得，分享攻略和經驗。</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-shopping-cart fa-3x text-danger mb-3"></i>
                    <h5 class="card-title">官方商城</h5>
                    <p class="card-text">購買遊戲周邊、數位商品和各種優惠券。</p>
                </div>
            </div>
        </div>
    </div>
</div>